.Intro {
    display: flex;
    height: 15vh;
    background-color: #2476a5;
    font-family: ‘Palatino Linotype’,‘Book Antiqua’,Palatino,serif;
}
.nameContainer {
    border: 5px solid goldenrod;
    width: 25%;
    display:flex;
    flex-direction: column;
}

.name {
    align-self: center;
    justify-content: flex-start;
    font-size: 40px
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.link {
    align-self: flex-end;
    padding:5px;
}

.intro-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 5px solid goldenrod;
    width:75%;
}

.inner-text {
    width: 50%;
    align-self: center;
}
